.app {
  &-error {
    @include flex($direction: row, $justify: space-between, $align: center);

    height: auto;
    min-height: 100%;
    width: 100%;

    @include media-queries-down(sm) {
      padding: 2rem 0;
    }

    .error-type {
      color: var(--color-gray-lightest);
      font-size: var(--font-size-d1);

      @include media-queries-up(md) {
        font-size: var(--font-size-d3);
      }
    }

    .app-header,
    .app-footer {
      position: fixed;
    }

    .app-header {
      border-bottom: 1px solid var(--color-gray-lightest);
    }

    .app-footer {
      bottom: 0;
    }
  }
}
