.go-top {
  background-color: var(--color-gray-lighten);
  border-radius: 50%;
  bottom: 1rem;
  content: url('data:image/svg+xml,%3Csvg width="100%25" height="100%25" viewBox="0 0 10 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;"%3E%3Cg transform="matrix(1,0,0,1,-138.015,-118.25)"%3E%3Cg id="upload.svg" transform="matrix(1,0,0,1,130.765,115)"%3E%3Cpath d="M16,8L12,4M12,4L8,8M12,4L12,16" style="fill:none;fill-rule:nonzero;stroke:%23fff;stroke-width:1.5px;"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  cursor: pointer;
  height: 3rem;
  opacity: 0;
  padding: 1rem;
  position: fixed;
  right: 1rem;
  transition: all .3s ease-in-out;
  visibility: hidden;
  width: 3rem;
  z-index: 1;

  &:hover,
  &:focus {
    background-color: var(--color-gray-light);
  }

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }
}
